@font-face {

    src: url("fonts/Rancho/Rancho-Regular.ttf");
}



.rootPane {

    -fx-background-image: url("../images/sfondo_parquet.jpg");
    -fx-background-size: stretch;
}

.Button {
    -fx-border-color: transparent;
    -fx-border-width: 4px;

}
.Button:hover{

    -fx-border-color: rgb(139, 0, 157);
}
.confButton {
    -fx-background-color: transparent;


}
.confButton:hover{

    -fx-background-color: rgba(255, 235, 162, 0.9);
}
.objButton {
    -fx-border-color: transparent;
    -fx-border-width: 7px;

}
.objButton:hover{

    -fx-border-color: rgba(255, 235, 162, 0.9);
}

.label{


    -fx-text-fill: black;
    -fx-font-family: 'Rancho';
    -fx-font-size: 18px;
}