.rootPane {

    -fx-background-image: url("../images/sfondo_parquet.jpg");
    -fx-background-size: stretch;
}

.Button {
    -fx-background-color: transparent;
}

.Button:hover{
    -fx-background-color: rgba(255, 235, 162, 0.9);
}