@font-face {

    src: url("fonts/Rancho/Rancho-Regular.ttf");
}


.rootPane {

    -fx-background-image: url("../images/sfondo_parquet.jpg");
    -fx-background-size: stretch;
}

.Button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.Button:hover{
    -fx-background-color: rgba(255, 235, 162, 0.9);
}


.label{


    -fx-text-fill: black;
    -fx-font-family: 'Rancho';
}
.nickname{
    -fx-text-fill: black;
    -fx-font-family: 'Rancho';
    -fx-font-size: 36px;
}